* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'helvetica';
    color: #fff;
    text-align: center;
}

#gameCanvas { background-color: #eee; }

#welcome {
    position: absolute;
    top: 0;
    left: 0;
    align-items: center;
    -webkit-align-items: center;
    justify-content: center;
    -webkit-justify-content: center;
    width: 100%;
    height: 100%;
    display: none;
}

#content {
    max-width: 50%;
    background-color: #4496f6;
    padding: 10px 30px;
}

#content input[type=text] {
    text-align: center;
    border: none;
    padding: 5px;
}

#content input[type=submit] {
    border: none;
    color: #fff;
    background-color: #000;
    padding: 10px 30px;
}

#marker {
    height: 100px; width: 100px;
    border-radius: 50%;
    border: 1px solid #666;
    -webkit-animation: pulse 4s ease-out;
    -webkit-animation-iteration-count: infinite;
    -moz-animation: pulse 4s ease-out;
    -moz-animation-iteration-count: infinite;
    position: absolute;
    display: none;
}

@-webkit-keyframes "pulse" {
    0% {
        -webkit-transform: scale(0);
        opacity: 0.0;
    }
    25% {
        -webkit-transform: scale(0.5);
        opacity: 0.5;
    }
    50% {
        -webkit-transform: scale(1);
        opacity: 0.0;
    }
    100% {
        -webkit-transform: scale(1);
        opacity: 0.0;
    }
}

@-moz-keyframes "pulse" {
    0% {
        -moz-transform: scale(0);
        opacity: 0.0;
    }
    25% {
        -moz-transform: scale(0.5);
        opacity: 0.5;
    }
    50% {
        -moz-transform: scale(1);
        opacity: 0.0;
    }
    100% {
        -moz-transform: scale(1);
        opacity: 0.0;
    }
}
